@page
@model travelAgency.Pages.travel.TourPageModel
@{
    ViewData["Title"] = "Tour Page";
}

<div class="main-scrin">
    <img class="first-img timg" src="/images/@Model.Tour.Imgg" alt="Tour Image">
    <div class="tblok">
        <h5>@Model.Tour.Country</h5>
        <h4>@Model.Tour.Date</h4>
        <h4>@Model.Tour.AmountOfPeople tourists & 1 guide</h4> 
    </div>
  
</div>

<h2>[OUR ROUTE]</h2>
@foreach (var item in Model.ListDays)
{
    if (@item.number % 2 == 1)
    {
        <div class="days-item"> 
            <img src="/images/@Html.DisplayFor(m=> item.Dimg)" alt="Image of place">
            <h4>@Html.DisplayFor(m=> item.description)</h4>   
        </div>
    }
    else
    {
        <div class="days-item"> 
            <h4>@Html.DisplayFor(m=> item.description)</h4> 
            <img src="/images/@Html.DisplayFor(m=> item.Dimg)" alt="Image of place">  
        </div>
    }

    
}
<div class="tprice">
    <p>Price - </p>
    <p>@Model.Tour.price $</p>
</div>

<div class="button-left">
 <div class="button seeall"><a asp-page="/book/BookTour">book</a></div>
</div>

<div class="tcontact">
    <div>
        <h3>Need more information?</h3>
        <h6>Contact us to receive more information about tours</h6>
    </div>
    <div>
        
    </div>
</div>

